<% include header.ejs %>
<nav class='row'>
    <ul class="nav nav-pills">
        <li role="presentation" ><a href="/">Brand</a></li>
        <li role="presentation" ><a href="/explore/">发现</a></li>
        <li role="presentation" ><a href="/square/">广场</a></li>
        <!-- <li role="presentation" class="dropdown user-action"> -->
        <!-- <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">

        </ul> -->
        </li>
        <li role="presentation" class="user-action" ><a href="/accounts/login/">登陆</a></li>
        <li role="presentation" class="user-action"><a href="/accounts/register/">注册</a></li>
    </ul>
</nav>
<% include footer.ejs %>
