include header
body
  nav.cp-nav
    ul.cp-tabs
      li(role="presentation") 
        a(href="/") Brand
      li(role="presentation") 
        a(href="/explore/") 发现
      li(role="presentation") 
        a(href="/square/") 广场
    ul.cp-user(role="menu")
      li.user-action(role="presentation") 
        a(href="/accounts/login/") 登陆
      li.user-action(role="presentation")
        a(href="/accounts/register/") 注册
  block content

include footer
