doctype html
html
  head 
    title coolCP|#{title}
    link(rel='stylesheet', href="/stylesheets/libs/bootstrap.min.css") 
    link(rel='stylesheet', href='/stylesheets/base.min.css')
    block link
