extends ./base.jade
block link
  link(rel='stylesheet', href='/stylesheets/index.min.css')
  
block content
      .cp-banner-box
        //- img.img-response.img-thumbnail.cp-carousel-img.active#img-1(src='images/xlk.jpg')
        //- img.img-response.img-thumbnail.cp-carousel-img.next#img-2(src='images/gjmxcxd.jpg')
        //- img.img-response.img-thumbnail.cp-carousel-img.prev#img-3(src='images/huhuo.jpg')
        img.img-response.img-thumbnail.active#img-1(src='images/xlk.jpg')
        img.img-response.img-thumbnail.next#img-2(src='images/gjmxcxd.jpg')
        img.img-response.img-thumbnail.prev#img-3(src='images/huhuo.jpg')
      //- .cp-carousel-dots
      //-   a.cp-carousel-dot(href='#img-1') 
      //-   a.cp-carousel-dot(href='#img-2') 
      //-   a.cp-carousel-dot(href='#img-3') 

block javascript
  //- script(data-main="javascripts/index.min.js",src="http://cdn.bootcss.com/require.js/2.2.0/require.min.js")
