extends ../base.jade

block link
  link(rel='stylesheet',href='/stylesheets/admin-system.min.css')
  link(rel='stylesheet',href='/stylesheets/libs/bootstrap.min.css')
  
block content
  .list-group
    each user in users
      a.list-item.active(href='#') #{user.accountInfo.email}
      //- a.list-item(href='#') A
  //- .list-group
