extends ../base.jade

block link
  link(rel='stylesheet',href='/stylesheets/createcp.min.css')
  
block content
  form#couple-form.shell.col-md-8.col-md-offset-2(role='form', action='.', method='POST')
    div#cover-img.col-md-3
      img(src='/images/default_cover.jpg')
    div.info-input.col-md-9
      div.title-input.form-group
        div.input-group.input-group-lg
          span.input-group-addon cp名称
          input.form-control(name="name")
        p.text-danger 该项不能为空
      div.desc-input.form-group
        label(for='desc-input') 描述
        textarea#desc-input.form-control(row='5')
    div.role-input
      div.role-1
        div.name.col-md-4.form-group
          div.input-group.input-group-lg
            span.input-group-addon 名字
            input.form-control(type='text', name='role_1_name', placeholder='角色一')
          p.text-danger 该项不能为空
        div.from.col-md-8.form-group
          div.input-group.input-group-lg
            div.input-group-btn
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') 出自作品
                span.caret
              ul.dropdown-menu(role='menu')
                li 
                  a 动漫
                li 
                  a 电影
                li 
                  a 电视剧
                li 
                  a 其它
            input.form-control(type='text', name='role_1_from')
          p.text-danger 该项不能为空
      div.role-2
      div.name.col-md-4.form-group
        div.input-group.input-group-lg
          span.input-group-addon 名字
          input.form-control(type='text', name='role_2_name', placeholder='角色二')
        p.text-danger 该项不能为空
      div.from.col-md-8.form-group
        div.input-group.input-group-lg
          div.input-group-btn
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') 出自作品
              span.caret
            ul.dropdown-menu(role='menu')
              li 
                a 动漫
              li 
                a 电影
              li 
                a 电视剧
              li 
                a 其它
          input.form-control(type='text', name='role_2_from')
        p.text-danger 该项不能为空
    button#btn.btn.btn-primary.btn-lg.col-md-4.col-md-offset-4(type='button') 提交
block javascript
  script(src="/javascripts/createCouple.min.js")
