extends ../base.jade

block link
  link(rel='stylesheet',href='/stylesheets/createcp.min.css')
  link(rel='stylesheet',href='/stylesheets/libs/bootstrap.min.css')
  
block content
  div.shell.col-md-8.col-md-offset-2
    div#cover-img.col-md-3
      img(src='/images/default_cover.jpg')
