@import "public";
@import "mixins";
@import "vars";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav.cp-nav{
  @include setNav(60px, $light-blue, 40px, 100px, $main-blue, 20px, $main-text-color);
  > ul > li:hover {
    & > a {
      color: #fff;
    }
  }
}

ul.cp-tabs{
  float: left;
}
ul.cp-user {
  float: right;
}
