//nav
@mixin setNav($height, $color){
    height: $height;
    background-color: $color;
}

//yuan xing tou xiang
@mixin circlehead($radius) {
    height: $radius;
    border-radius: 50%;
    vertical-align: middle;
}

//banner

//shadow
@mixin shadow{
    border: 1px #ddd solid;
    box-shadow: #ccc 1px 1.5px;
}

//background img
@mixin background-img($back-url, $back-pos, $width:auto, $height:auto) {
    display: block;
    background: $back-url $back-pos no-repeat;
    height: $height;
    width: $width;
}

@mixin setText($font-size, $font-color, $text-align:left, $font-weight:normal) {
    font-size: $font-size;
    color: $font-color;
    font-weight: $font-weight;
    text-align: $text-align;
}

@mixin setBtn($width, $height, $back-color, $color, $font-size, $border-radius:0, $border:none) {
    width: $width;
    height: $height;
    background-color: $back-color;
    color: $color;
    font-size: $font-size;
    border: $border;
    border-radius: $border-radius;
}